# user specific configuration files
# *.csproj.user
# *.pubxml.user

# build, packaging, and test results
bin/
obj/
TestResults/

# RStudio user files and Visual Studio cache/options directory
.Rhistory
.Rproj.user/
.vs/